.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  background: transparent;
  height: auto;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin-top: -15px; /* Add negative top margin to pull text closer to image */
  padding: 0;
  text-align: center;
  line-height: 1;
 
    position: relative;
    top: -40px; /* Adjust this value */
  
}

.header-logo {
  height: 200px;
  width: auto;
  margin-bottom: 10px; /* Add a small bottom margin to the image */
  padding: 0;
}
