<div class="input-box-container" [class.expanded]="isExpanded || isHovered" 
     (mouseenter)="setHover(true)" (mouseleave)="setHover(false)">
  <input 
    type="text" 
    [(ngModel)]="inputText" 
    class="input-box" 
    placeholder="Enter Prompt"
    (focus)="expandInput()"
    (blur)="shrinkInput()"
    (keypress)="handleKeyPress($event)"
  />
  <div class="char-count">{{ inputText.length }}/4000</div>
</div>
<p class="disclaimer-message">
  ⚠️ Do not include any protected, private, or sensitive information.
  <a href="https://www.canada.ca/en/government/system/digital-government/digital-government-innovations/responsible-use-ai/guide-use-generative-ai.html">Follow TBS Guidelines</a> |
  <a href="https://www.canada.ca/en/government/system/digital-government/digital-government-innovations/responsible-use-ai/guide-use-generative-ai.html">Terms of Service</a>
</p>

